/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
    /* Make the masthead heading the same height as the navigation */
    .header h3 {
        padding-bottom: 19px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
    }

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 1068px) {
    .container {
        max-width: 1030px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 20px;
}

    .jumbotron .btn {
        padding: 14px 24px;
        font-size: 21px;
    }

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

    .marketing p + h4 {
        margin-top: 28px;
    }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


.jumbotron .lead {
    margin-bottom: 45px;
}

.jumbotron #formattedString {
    margin-bottom: 0;
}

.jumbotron span.lead {
    padding: 15px;
    border-bottom: 1px red dotted;
    min-width: 400px;
    display: inline-block;
    font-weight: bold;
}

.jumbotron .form-control {
    text-align: center;
}


.panel-heading {
    font-weight: bold;
}

.list-group-item span {
    font-weight: bold;
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 20px;
}

#legendDate, #legendTime, #legendOther {
    display: none;
}

footer {
    text-align: center;
}


.alert {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: -20px;
}

.jumbotron .alert p {
    font-size: 0.7em;
}
